<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="./static/js/vue.js"></script>
</head>

	<div id="app">
	   {{name}}
	   <button v-on:click="say">按钮</button><br/>
	   
	   <h1 v-if="isIf">v-if判断是否显示</h1><button v-on:click="changeIf">隐藏或显示</button><br/>
	   <h1 v-show="isShow">v-show判断是否显示</h1><br/><button v-on:click="changeShow">隐藏或显示</button><br/>
	   
	  	<span v-if="type == 'A'">A</span>
	    <span v-else-if="type == 'B'">B</span>
	    <span v-else>既不是a也不是b</span><br/>
	   <span v-text="msg"></span><br/>
	   <span v-html="msg"></span>
	</div>
<body>
<!-- 配置数据源 -->
	<bean id="dataSource"
		class="com.alibaba.druid.pool.DruidDataSource">
		<property name="url" value="jdbc:mysql://localhost:3306/db_book?useUnicode=true&amp;characterEncoding=UTF-8"/>
		<property name="username" value="root"/>
		<property name="password" value="520520"/>
	</bean>
</body>
	<script>
		var vm = new Vue({
			el:'#app',
			data:{
				name:'miku世界第一公主殿下',
				isShow:false,
				isIf:false,
				type:"A",
				msg:"<h1>miku卡哇伊</h1>" 
			},
			methods:{
				say:function(){
					alert("谁是世界上最可爱的人？"+this.name)
				},
				changeIf:function(){
					this.isIf = !this.isIf;
					/* if(this.isShow){
						this.isShow = false						
					}else{
						this.isShow = true	
					} */
				},
				changeShow:function(){
					this.isShow = !this.isShow;
					/* if(this.isShow){
						this.isShow = false						
					}else{
						this.isShow = true	
					} */
				}
			}
			
		});
	</script>
</html>